<div class="container mt-4">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-secondary fw-bold">📦 Products Dashboard</h2>

    <button *ngIf="isAdmin() || isSuper()" class="add-btn" data-bs-toggle="modal" data-bs-target="#addModal">
      + Add Product
    </button>
  </div>

  <!-- SEARCH -->
  <div class="mb-4">
    <input type="text" class="form-control search-input" placeholder="Search by name, category, supplier..."
      [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" />
  </div>

  <!-- GRID -->
  <div class="row g-4">

    @for (p of products; track p.id) {

    <div class="col-md-6 col-lg-4">

      <div class="card product-card h-100">

        <!-- IMAGE -->
        <div class="product-image">

          <img [src]="p.mainImage ? apiUrl + p.mainImage : defaultImage" />

          <div class="product-status" [class.available]="p.isAvailable && p.stock > 0">

            {{ p.isAvailable && p.stock > 0 ? 'Available' : 'Out Of Stock' }}

          </div>

        </div>

        <!-- BODY -->
        <div class="card-body">

          <div class="product-top">

            <div>

              <h5 class="product-name">
                {{ p.name }}
              </h5>

              <div class="product-category">
                {{ p.categoryName }}
              </div>

            </div>

            <div class="price-box">
              {{ p.price }} EGP
            </div>

          </div>

          <div class="supplier-box">

            <i class="fa fa-truck"></i>

            {{ p.supplierName }}

          </div>

          <div class="stock-box">

            <span>Stock</span>

            <span class="stock-badge">
              {{ p.stock }}
            </span>

          </div>

        </div>

        <!-- ACTIONS -->
        <div class="actions">

          @if(isAdmin() || isSuper()){

          <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal" (click)="openEdit(p)">

            <i class="fa fa-pen"></i>

          </button>

          }

          <button class="cart-btn" (click)="addToCart(p)" [disabled]="!p.isAvailable || p.stock === 0">

            <i class="fa fa-cart-plus"></i>

            Add To Cart

          </button>

          @if(isAdmin() || isSuper()){

          <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="openDelete(p)">

            <i class="fa fa-trash"></i>

          </button>

          }

        </div>

      </div>

    </div>

    }

  </div>

  <!-- LOADING -->
  @if (loading) {
  <div class="text-center my-5">
    <div class="spinner-border text-primary"></div>
    <p class="mt-2">Loading products...</p>
  </div>
  }

  <!-- ERROR -->
  @if (errorMessage) {
  <div class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  }

  <!-- EMPTY -->
  @if (!loading && !errorMessage && products.length === 0) {
  <div class="text-center my-5 text-secondary">
    <h4>No Products Found 📦</h4>
  </div>
  }

  <!-- PAGINATION -->
  @if (totalPages > 1) {

  <div class="d-flex justify-content-center align-items-center gap-2 mt-4">

    <button class="btn btn-outline-secondary btn-sm" (click)="changePage(1)" [disabled]="pageNumber === 1">
      ⏮
    </button>

    <button class="btn btn-outline-secondary btn-sm" (click)="changePage(pageNumber - 1)" [disabled]="pageNumber === 1">
      ‹
    </button>

    <span class="px-3">
      Page <b>{{ pageNumber }}</b> / {{ totalPages }}
    </span>

    <button class="btn btn-outline-secondary btn-sm" (click)="changePage(pageNumber + 1)"
      [disabled]="pageNumber === totalPages">
      ›
    </button>

    <button class="btn btn-outline-secondary btn-sm" (click)="changePage(totalPages)"
      [disabled]="pageNumber === totalPages">
      ⏭
    </button>

  </div>

  }



  <br>
</div>




<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content add-product-modal border-0">

      <!-- HEADER -->
      <div class="modal-header border-0">

        <div>
          <h4 class="fw-bold mb-1">
            <i class="fa fa-box-open me-2"></i>
            Add Product
          </h4>
          <small class="text-secondary">
            Create a new product in inventory
          </small>
        </div>

        <button class="btn-close" data-bs-dismiss="modal"></button>

      </div>

      <!-- BODY -->
      <div class="modal-body p-4">

        <form [formGroup]="productForm">

          <!-- NAME -->
          <div class="mb-3">
            <label class="form-label fw-semibold">Product Name</label>

            <input class="form-control" placeholder="Enter product name" formControlName="name">

            <small class="text-danger" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
              Name is required (min 4 chars)
            </small>
          </div>





          <div class="mb-3">

            <label class="form-label fw-semibold">
              Product Image
            </label>

            <input type="file" class="form-control" accept="image/*" (change)="onImageSelected($event)">

          </div>







          <div class="row">

            <!-- CATEGORY -->
            <div class="col-md-6 mb-3">

              <label class="form-label fw-semibold">Category</label>

              <select class="form-select" formControlName="categoryId">

                <option value="0" disabled>Select Category</option>

                <option *ngFor="let c of categories" [value]="c.id">
                  {{ c.name }}
                </option>

              </select>

              <small class="text-danger"
                *ngIf="productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched">
                Category is required
              </small>

            </div>

            <!-- SUPPLIER -->
            <div class="col-md-6 mb-3">

              <label class="form-label fw-semibold">Supplier</label>

              <select class="form-select" formControlName="supplierId">

                <option value="0" disabled>Select Supplier</option>

                <option *ngFor="let s of suppliers" [value]="s.id">
                  {{ s.name }}
                </option>

              </select>

              <small class="text-danger"
                *ngIf="productForm.get('supplierId')?.invalid && productForm.get('supplierId')?.touched">
                Supplier is required
              </small>

            </div>

          </div>

          <div class="row">

            <!-- PRICE -->
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">Price</label>

              <input type="number" class="form-control" formControlName="price">
            </div>

            <!-- STOCK -->
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">Stock</label>

              <input type="number" class="form-control" formControlName="stock">
            </div>

          </div>

          <!-- AVAILABLE -->
          <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" formControlName="isAvailable">

            <label class="form-check-label">
              Available
            </label>
          </div>

        </form>

      </div>

      <!-- FOOTER -->
      <div class="modal-footer border-0">

        <button class="btn btn-outline-secondary w-50" data-bs-dismiss="modal">
          Cancel
        </button>

        <button class="btn btn-primary w-50" (click)="addProduct()" [disabled]="productForm.invalid">

          <i class="fa fa-plus me-2"></i>
          Save Product

        </button>

      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content add-product-modal border-0">

      <!-- Header -->
      <div class="modal-header modal-header-custom border-0">

        <div>
          <h4 class="fw-bold mb-1">
            <i class="fa fa-pen-to-square me-2"></i>
            Edit Product
          </h4>

          <small class="text-secondary">
            Update product information
          </small>
        </div>

        <button class="btn-close btn-close-white" data-bs-dismiss="modal">
        </button>

      </div>

      <!-- Body -->
      <div class="modal-body p-4">

        <form [formGroup]="editForm">

          <!-- NAME -->
          <div class="mb-3">
            <label class="form-label fw-semibold">Product Name</label>

            <input class="form-control" formControlName="name">
          </div>

          <!-- IMAGE -->
          <div class="mb-3">

            <label class="form-label">
              Product Image
            </label>

            <input type="file" class="form-control" accept="image/*" (change)="onEditImageSelected($event)">

          </div>

          <div class="row">

            <!-- CATEGORY -->
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">Category</label>

              <select class="form-select" formControlName="categoryId">

                <option value="0" disabled>Select Category</option>

                <option *ngFor="let c of categories" [value]="c.id">
                  {{ c.name }}
                </option>

              </select>
            </div>

            <!-- SUPPLIER -->
            <div class="col-md-6 mb-3">
              <label class="form-label fw-semibold">Supplier</label>

              <select class="form-select" formControlName="supplierId">

                <option value="0" disabled>Select Supplier</option>

                <option *ngFor="let s of suppliers" [value]="s.id">
                  {{ s.name }}
                </option>

              </select>
            </div>

          </div>

          <div class="row">

            <!-- PRICE -->
            <div class="col-md-6 mb-3">
              <label>Price</label>
              <input type="number" class="form-control" formControlName="price">
            </div>

            <!-- STOCK -->
            <div class="col-md-6 mb-3">
              <label>Stock</label>
              <input type="number" class="form-control" formControlName="stock">
            </div>

          </div>

          <!-- AVAILABLE -->
          <div class="form-check form-switch mt-3">
            <input class="form-check-input" type="checkbox" formControlName="isAvailable">
            <label>Available</label>
          </div>

        </form>

      </div>

      <!-- Footer -->
      <div class="modal-footer border-0 p-4 pt-0">

        <button class="btn btn-outline-light w-50" data-bs-dismiss="modal">

          Cancel

        </button>

        <button class="btn update-btn w-50" (click)="updateProduct()" [disabled]="editForm.invalid">

          <i class="fa fa-floppy-disk me-2"></i>
          Update Product

        </button>

      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="deleteModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content delete-modal border-0">

      <div class="modal-body p-4 text-center" *ngIf="deleteProduct">

        <!-- Icon -->
        <div class="delete-icon-circle mb-4">

          <i class="fa fa-trash"></i>

        </div>

        <!-- Title -->
        <h3 class="fw-bold mb-2">

          Delete Product?

        </h3>

        <p class="text-secondary mb-0">

          This action cannot be undone

        </p>

        <!-- Product Card -->
        <div class="delete-product-card rounded-4 p-3 mt-4 text-start">

          <div class="d-flex align-items-center gap-3">

            <img [src]="deleteProduct.mainImage ? apiUrl + deleteProduct.mainImage : defaultImage" width="70"
              height="70" class="rounded-3" style="object-fit: cover" />

            <div>

              <h6 class="fw-bold mb-1 text-light">

                {{ deleteProduct.name }}

              </h6>

              <small class="text-secondary">

                {{ deleteProduct.categoryName }}

              </small>

              <div class="fw-bold text-success mt-1">

                {{ deleteProduct.price }} EGP

              </div>

            </div>

          </div>

        </div>

        <!-- Error -->
        @if(deleteErrorMessage){

        <div class="delete-error-box mt-4">

          <div class="error-icon">

            <i class="fa fa-circle-exclamation"></i>

          </div>

          <div class="error-content">

            <div class="error-title">

              Unable to delete product

            </div>

            <small>

              {{ deleteErrorMessage }}

            </small>

          </div>

        </div>

        }

        <!-- Buttons -->
        <div class="d-flex gap-2 mt-4">

          <button class="btn cancel-delete-btn w-50" data-bs-dismiss="modal">

            Cancel

          </button>

          <button class="btn confirm-delete-btn w-50" (click)="confirmDelete()">

            <i class="fa fa-trash me-2"></i>

            Delete

          </button>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- toasts -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">

  <!-- ADD -->
  <div class="toast-modern shadow-lg success" *ngIf="showSuccess">

    <div class="toast-icon success">
      <i class="fa fa-circle-check"></i>
    </div>

    <div class="toast-content">
      <div class="toast-title">Success</div>
      <div class="toast-message">Product added successfully</div>
    </div>

    <button class="toast-close" (click)="showSuccess = false">
      <i class="fa fa-xmark"></i>
    </button>

  </div>


  <!-- UPDATE -->
  <div class="toast-modern shadow-lg warning" *ngIf="showUpdateSuccess">

    <div class="toast-icon warning">
      <i class="fa fa-pen"></i>
    </div>

    <div class="toast-content">
      <div class="toast-title">Updated</div>
      <div class="toast-message">Product updated successfully</div>
    </div>

    <button class="toast-close" (click)="showUpdateSuccess = false">
      <i class="fa fa-xmark"></i>
    </button>

  </div>


  <!-- DELETE -->
  <div class="toast-modern shadow-lg danger" *ngIf="showDeleteSuccess">

    <div class="toast-icon danger">
      <i class="fa fa-trash"></i>
    </div>

    <div class="toast-content">
      <div class="toast-title">Deleted</div>
      <div class="toast-message">Product deleted successfully</div>
    </div>

    <button class="toast-close" (click)="showDeleteSuccess = false">
      <i class="fa fa-xmark"></i>
    </button>

  </div>

</div>
