<div class="sidebar">

  <div class="brand">
    <span class="text-primary">Last </span> -V
  </div>

  <ul class="menu">

    <li routerLinkActive="active">
      <a routerLink="/dashboard">
        <i class="fa fa-house me-2"></i>
        Home
      </a>
    </li>


    <li routerLinkActive="active">
      <a routerLink="/products">
        <i class="fa fa-box me-2"></i>
        Products
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/orders">
        <i class="fa fa-cart-shopping me-2"></i>
        Orders
      </a>
    </li>

    <li routerLinkActive="active" *ngIf="isAdmin()">
      <a routerLink="/customers">
        <i class="fa fa-users me-2"></i>
        Customers
      </a>
    </li>

    <li routerLinkActive="active" *ngIf="isAdmin()">
      <a routerLink="/users">
        <i class="fa fa-user me-2"></i>
        Users
      </a>
    </li>

    <!-- <li routerLinkActive="active" *ngIf="isAdmin()">
      <a routerLink="/department">
        <i class="fa fa-sitemap me-2"></i>
        Departments
      </a>
    </li>

    <li routerLinkActive="active" *ngIf="isAdmin()">
      <a routerLink="/students">
        <i class="fa fa-user-graduate me-2"></i>
        Students
      </a>
    </li> -->

    <li routerLinkActive="active">
      <a routerLink="/settings">
        <i class="fa fa-gear me-2"></i>
        Settings
      </a>
    </li>

    <li>
      <a (click)="logout()">
        <i class="fa-solid fa-right-from-bracket me-2"></i>
        LogOut
      </a>
    </li>


  </ul>

  <div class="footer">
    Version 1.0
  </div>

</div>
