<div class="sidebar">

  <div class="brand">
    <span class="text-primary">My -</span> Dashboard
  </div>

  <ul class="menu">

    <li routerLinkActive="active">
      <a routerLink="">🏠 Home</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/products">📦 Products</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/orders">🛒 Orders</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/customers">
        👥 Customers
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/settings">
        ⚙️ Settings
      </a>
    </li>


  </ul>

  <div class="footer">
    Version 1.0
  </div>

</div>
