.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: #111827;
  color: #fff;

  display: flex;
  flex-direction: column;
  padding: 20px;

  /* border-radius: 20px; */
  border-radius: 0 20px 20px 0;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: block;
  padding: 12px 15px;
  color: #cbd5e1;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.25s;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  transform: translateX(5px);
}

.menu li.active a {
  background: #4f46e5;
  color: white;
}

.footer {
  margin-top: auto;
  font-size: 12px;
  opacity: 0.6;
}
