.order-card {

  background: #111827;

  border: 1px solid #1f2937;

  border-radius: 18px;

  padding: 18px;

  transition: .3s;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.order-card:hover {
  transform: translateY(-5px);
}

/* HEADER */
.order-header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.order-id {
  font-weight: 700;
  font-size: 16px;
  color: #f9fafb;
}

/* text */
.text-secondary {
  color: #9ca3af;
}

/* STATUS */
.status {

  padding: 5px 12px;

  border-radius: 999px;

  font-size: 12px;

  background: rgba(245, 158, 11, 0.15);

  color: #f59e0b;

  border: 1px solid #f59e0b;
}

.status.done {

  background: rgba(34, 197, 94, 0.15);

  color: #22c55e;

  border: 1px solid #22c55e;
}

/* BODY */
.order-body {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row-info {

  display: flex;
  justify-content: space-between;

  font-size: 14px;

  color: #9ca3af;
}

.row-info b {
  color: #f9fafb;
}

.price {
  color: #22c55e;
}

/* ACTIONS */
.order-actions {

  margin-top: 15px;

  display: flex;
  justify-content: space-between;
}

/* BUTTONS */
.btn-icon {

  width: 30%;
  height: 40px;

  border-radius: 12px;

  border: 1px solid #374151;

  background: #0b1220;

  color: #f9fafb;

  transition: .3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon:hover {
  transform: scale(1.05);
}

.btn-icon.view:hover {
  color: #3b82f6;
  background: rgba(59, 130, 246, .15);
}

.btn-icon.edit:hover {
  color: #f59e0b;
  background: rgba(245, 158, 11, .15);
}

.btn-icon.delete:hover {
  color: #ef4444;
  background: rgba(239, 68, 68, .15);
}
















.delete-modal {
  border-radius: 24px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.delete-icon {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff4d4d, #ff1f1f);
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 32px;

  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.25);
}

.delete-card {
  background: #f8fafc;
  border-radius: 18px;
  padding: 18px;
  text-align: left;
  border: 1px solid #eee;
}

.cancel-btn {
  border-radius: 14px;
  padding: 12px;
  background: #eef2f7;
  border: none;
  font-weight: 600;
}

.cancel-btn:hover {
  background: #e2e8f0;
}

.delete-btn {
  border-radius: 14px;
  padding: 12px;
  border: none;
  font-weight: 600;
  color: white;

  background: linear-gradient(135deg, #ff4d4d, #ff1f1f);
}

.delete-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.status-modal {
  border-radius: 24px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.status-icon {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;

  background: linear-gradient(135deg, #f59e0b, #facc15);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 34px;

  transition: 0.3s;
}

.status-icon.done {
  background: linear-gradient(135deg, #22c55e, #16a34a);
}

.status-card {
  margin-top: 20px;
  background: #f8fafc;
  border-radius: 18px;
  padding: 18px;
  text-align: left;
  border: 1px solid #eee;
}

.big-switch {
  width: 65px;
  height: 32px;
  cursor: pointer;
}

.cancel-btn {
  border-radius: 14px;
  padding: 12px;
  background: #eef2f7;
  border: none;
  font-weight: 600;
}

.save-btn {
  border-radius: 14px;
  padding: 12px;
  border: none;
  font-weight: 600;
  color: white;

  background: linear-gradient(135deg, #111827, #000);
}

.add-modal {
  border-radius: 24px;
  overflow: hidden;
}

.add-modal .form-control,
.add-modal .form-select {
  height: 52px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  box-shadow: none;
}

.add-modal .form-control:focus,
.add-modal .form-select:focus {
  border-color: #111827;
  box-shadow: none;
}

.add-modal .btn {
  height: 50px;
  border-radius: 14px;
  font-weight: 600;
}

.item-box {
  border: 1px solid #e5e7eb;
  padding: 16px;
  border-radius: 18px;
  background: #f9fafb;
}


.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: none !important;
}

.invalid-feedback {
  font-size: 12px;
  color: #dc3545;
  margin-top: 4px;
}

.toast-container {
  z-index: 9999;
}

.toast-modern {
  width: 320px;
  background: #1e1e1e;
  color: #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  margin-top: 10px;
  animation: slideIn 0.25s ease;
  border-left: 4px solid #6c757d;
}

/* ICON BASE */
.toast-icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

/* TYPES */
.toast-icon.danger {
  background: rgba(220, 53, 69, 0.15);
  color: #dc3545;
}

.toast-icon.success {
  background: rgba(25, 135, 84, 0.15);
  color: #198754;
}

.toast-icon.warning {
  background: rgba(255, 193, 7, 0.15);
  color: #ffc107;
}

/* TEXT */
.toast-content {
  flex: 1;
}

.toast-title {
  font-weight: 700;
  font-size: 14px;
}

.toast-message {
  font-size: 12px;
  color: #bdbdbd;
}

/* CLOSE */
.toast-close {
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
}

.toast-close:hover {
  color: #fff;
}

/* ANIMATION */
@keyframes slideIn {
  from {
    transform: translateY(15px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.error-box {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 18px 20px;

  border-radius: 16px;

  background: #111827;

  border: 1px solid #1f2937;

  color: #c92a2a;

  margin: 20px 0;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.error-icon {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #ffe3e3;

  font-size: 24px;

  flex-shrink: 0;
}

.error-content h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.error-content p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: .85;
}

.error-box {
  animation: fadeIn .3s ease;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}




.loading-box {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;

  padding: 50px 20px;

  animation: fadeIn .4s ease;
}

.loading-spinner {

  width: 60px;
  height: 60px;

  border-radius: 50%;

  border: 5px solid #e9ecef;
  border-top-color: black;

  animation: spin .8s linear infinite;
}

.loading-box p {

  font-size: 18px;
  font-weight: 500;

  color: #6c757d;

  margin: 0;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }

}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}


.search-input {

  background: #111827;

  border: 1px solid #1f2937;

  color: #f9fafb;

  border-radius: 12px;

  padding: 12px 15px;
}

.search-input::placeholder {
  color: #6b7280;
}


.empty-state {

  background: #111827;

  border: 1px solid #1f2937;
  width: 90%;

  border-radius: 16px;

  padding: 40px 20px;

  text-align: center;

  color: #9ca3af;

  margin-top: 30px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.empty-icon {

  font-size: 40px;

  margin-bottom: 10px;

  opacity: 0.8;
}

.empty-state h4 {

  color: #f9fafb;

  margin-bottom: 8px;
}

.empty-state p {

  font-size: 14px;

  color: #9ca3af;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

.empty-icon {
  animation: float 2s ease-in-out infinite;
}

/* dark modal */
/* ===========================
   ALL MODALS DARK THEME
=========================== */

.modal-content {
  background: #111827;
  color: #f9fafb;
  border: 1px solid #1f2937;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .45);
}

.modal-header {
  border-bottom: 1px solid #1f2937;
  color: #fff;
}

.modal-footer {
  border-top: 1px solid #1f2937;
}

/* ===========================
   INPUTS
=========================== */

.modern-input,
.form-control,
.form-select {
  background: #0f172a;
  border: 1px solid #374151;
  color: #fff;
}

.modern-input:focus,
.form-control:focus,
.form-select:focus {
  background: #0f172a;
  color: #fff;
  border-color: #3b82f6;
  box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, .15);
}

.form-control::placeholder {
  color: #9ca3af;
}

/* ===========================
   ORDER ICON
=========================== */

.order-icon {
  width: 60px;
  height: 60px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(59, 130, 246, .15);
  color: #60a5fa;

  font-size: 22px;
}

/* ===========================
   PRODUCT ITEM CARD
=========================== */

.product-item-card {
  background: #0f172a;
  border: 1px solid #1f2937;
  border-radius: 16px;
  padding: 16px;
}

/* ===========================
   STATUS BOX
=========================== */

.status-box {
  background: #0f172a;
  border: 1px solid #1f2937;
  border-radius: 16px;
  padding: 18px;
}

/* ===========================
   SWITCH
=========================== */

.big-switch {
  width: 60px;
  height: 30px;
}

.big-switch:checked {
  background-color: #22c55e;
  border-color: #22c55e;
}

/* ===========================
   BUTTONS
=========================== */

.cancel-btn {
  background: #1f2937;
  border: none;
  color: #fff;
}

.cancel-btn:hover {
  background: #374151;
  color: #fff;
}

.save-btn {
  background: #2563eb;
  border: none;
  color: #fff;
}

.save-btn:hover {
  background: #1d4ed8;
}

.delete-btn {
  background: #dc2626;
  border: none;
}

.delete-btn:hover {
  background: #b91c1c;
}

.add-item-btn {
  background: #2563eb;
  color: white;
  border: none;
}

.add-item-btn:hover {
  background: #1d4ed8;
  color: white;
}

.remove-btn {
  background: rgba(239, 68, 68, .15);
  color: #ef4444;
  border: none;
}

.remove-btn:hover {
  background: rgba(239, 68, 68, .25);
}

/* ===========================
   ORDER DETAILS
=========================== */

#orderDetailsModal table.table {
  background-color: #111827 !important;
  color: #e5e7eb !important;
  border: none;
}

/* HEADER */
#orderDetailsModal table.table thead,
#orderDetailsModal table.table thead tr {
  background-color: #0b1220 !important;
}

#orderDetailsModal table.table thead th {
  background-color: #0b1220 !important;
  color: #9ca3af !important;
  border: none !important;
}

/* BODY */
#orderDetailsModal table.table tbody tr {
  background-color: #111827 !important;
}

#orderDetailsModal table.table tbody tr:hover {
  background-color: #1f2937 !important;
}

/* CELLS */
#orderDetailsModal table.table td {
  background-color: #111827 !important;
  color: #e5e7eb !important;
  border-top: 1px solid #1f2937 !important;
}

/* REMOVE BOOTSTRAP STRIPING COMPLETELY */
#orderDetailsModal .table-striped>tbody>tr:nth-of-type(odd),
#orderDetailsModal .table-striped>tbody>tr:nth-of-type(even) {
  background-color: #111827 !important;
}

/* ===========================
   STATUS MODAL
=========================== */

.status-icon {
  width: 80px;
  height: 80px;

  margin: auto;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;

  background: rgba(245, 158, 11, .15);
  color: #f59e0b;
}

.status-icon.done {
  background: rgba(34, 197, 94, .15);
  color: #22c55e;
}

.status-card {
  background: #0f172a;
  border: 1px solid #1f2937;
  border-radius: 16px;
  padding: 16px;
  text-align: left;
}

/* ===========================
   DELETE MODAL
=========================== */

.delete-card {
  background: #0f172a;
  border: 1px solid rgba(239, 68, 68, .2);
  border-radius: 16px;
  padding: 18px;
}

.delete-icon {
  width: 80px;
  height: 80px;

  margin: auto;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(239, 68, 68, .15);

  color: #ef4444;

  font-size: 30px;
}

/* ===========================
   TEXT COLORS
=========================== */

.text-muted,
.text-secondary {
  color: #9ca3af !important;
}

.text-success {
  color: #22c55e !important;
}



/* ================= PAGINATION ================= */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.pagination button {
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  background: #111;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background: #333;
}

.pagination .page-info {
  font-weight: 600;
  color: #444;
  padding: 0 10px;
}

.page-btn.active {
  background: #4f46e5;
  border-color: #4f46e5;
}


.page-btn {
  background: #1f2937;
  border: 1px solid #374151;
  color: #fff;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
