<div class="container mt-4">

  <div class="page-header d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-secondary">🧾 Orders Dashboard</h2>

    <button class="btn btn-dark rounded-pill px-4" data-bs-toggle="modal" data-bs-target="#addOrderModal">

      + Add Order

    </button>
  </div>

  <div class="mb-3">

    <input type="text" class="form-control search-input" placeholder="Search by Order ID, Customer, Status..."
      [(ngModel)]="searchValue" (input)="filterOrders()">

  </div>

  <div class="row g-4">

    <!-- @for (o of orders; track o.id) { -->
    @for (o of pagedOrders; track o.id) {

    <div class="col-md-6 col-lg-4">

      <div class="order-card">

        <!-- HEADER -->
        <div class="order-header">

          <div>
            <div class="order-id">Order #{{ o.id }}</div>

            <small class="text-secondary">
              {{ o.orderDate | date:'shortDate' }}
            </small>

          </div>

          <span class="status" [class.done]="o.status">
            {{ o.status ? 'Done' : 'Pending' }}
          </span>

        </div>

        <!-- BODY -->
        <div class="order-body">

          <div class="row-info">
            <span>Customer</span>
            <b>{{ o.customer.name }}</b>
          </div>

          <div class="row-info">
            <span>Total</span>
            <b class="price">{{ o.totalAmount }} EGP</b>
          </div>

          <div class="row-info">
            <span>Items</span>
            <b>{{ o.items.length }}</b>
          </div>

        </div>

        <!-- ACTIONS -->
        <div class="order-actions">

          <button class="btn-icon view" data-bs-toggle="modal" data-bs-target="#orderDetailsModal"
            (click)="openOrder(o.id)">
            <i class="fa fa-eye"></i>
          </button>

          <button class="btn-icon edit" data-bs-toggle="modal" data-bs-target="#statusModal"
            (click)="openStatusModal(o)">
            <i class="fa fa-pen"></i>
          </button>

          <button class="btn-icon delete" data-bs-toggle="modal" data-bs-target="#deleteOrderModal"
            (click)="openDelete(o)">
            <i class="fa fa-trash"></i>
          </button>

        </div>

      </div>

    </div>

    }

    @if(loading){

    <div class="loading-box">

      <div class="loading-spinner"></div>

      <p>جاري عرض الطلبات...</p>

    </div>

    }


    @if(errorMessage){

    <div class="error-box">

      <div class="error-icon">
        ⚠
      </div>

      <div class="error-content">

        <h5>Something went wrong</h5>

        <p>{{ errorMessage }}</p>

      </div>

    </div>

    }


    @if(!loading && !errorMessage && orders.length === 0){

    <div class="empty-state">

      <div class="empty-icon">
        📦
      </div>

      <h4>No Products Found</h4>

      <p>Try adjusting your search or add new Orders</p>

    </div>

    }

  </div>



  <div class="d-flex justify-content-center align-items-center gap-3 mt-4" *ngIf="filteredOrders.length > pageSize">

    <button class="btn btn-dark" (click)="prevPage()" [disabled]="pageNumber === 1">
      Prev
    </button>

    <div class="page-info">
      Page {{ pageNumber }} / {{ totalPages }}
    </div>

    <button class="btn btn-dark" (click)="nextPage()" [disabled]="pageNumber === totalPages">
      Next
    </button>

  </div>
</div>




<!-- modals -->
<div class="modal fade" id="addOrderModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">

    <div class="modal-content border-0 add-modal">

      <div class="modal-body p-4">

        <!-- header -->
        <div class="d-flex justify-content-between align-items-start mb-4">

          <div>
            <h3 class="fw-bold mb-1">
              Create New Order
            </h3>

            <p class="text-muted mb-0">
              Add customer and products
            </p>
          </div>

          <div class="order-icon">
            <i class="fa fa-cart-shopping"></i>
          </div>

        </div>

        <!-- FORM -->
        <form [formGroup]="orderForm">

          <!-- ================= CUSTOMER ================= -->
          <label class="mb-2 fw-semibold">Customer</label>

          <select class="form-select modern-input mb-1" formControlName="customerId"
            [class.is-invalid]="orderForm.get('customerId')?.invalid && orderForm.get('customerId')?.touched">

            <option [value]="0">Select Customer</option>

            @for(c of customers; track c.id){
            <option [value]="c.id">{{ c.name }}</option>
            }

          </select>

          <div class="invalid-feedback d-block"
            *ngIf="orderForm.get('customerId')?.invalid && orderForm.get('customerId')?.touched">
            Please select a customer
          </div>

          <!-- ================= PRODUCTS HEADER ================= -->
          <div class="d-flex justify-content-between align-items-center mb-3 mt-3">

            <h5 class="fw-bold m-0">Products</h5>

            <button type="button" class="btn add-item-btn" (click)="addItem()">
              <i class="fa fa-plus"></i>
              Add Product
            </button>

          </div>

          <!-- ================= ITEMS ================= -->
          <div formArrayName="items">

            @for(item of items.controls; track $index){

            <div class="product-item-card mb-3" [formGroupName]="$index">

              <div class="row g-3">

                <!-- PRODUCT -->
                <div class="col-md-7">

                  <label class="small fw-semibold mb-2">Product</label>

                  <select class="form-select modern-input" formControlName="productId"
                    [class.is-invalid]="item.get('productId')?.invalid && item.get('productId')?.touched">

                    <option [value]="0">Select Product</option>

                    @for(p of products; track p.id){
                    <option [value]="p.id">{{ p.name }}</option>
                    }

                  </select>

                  <div class="invalid-feedback d-block"
                    *ngIf="item.get('productId')?.invalid && item.get('productId')?.touched">
                    Please select product
                  </div>

                </div>

                <!-- QTY -->
                <div class="col-md-3">

                  <label class="small fw-semibold mb-2">Quantity</label>

                  <input type="number" class="form-control modern-input" formControlName="quantity"
                    [class.is-invalid]="item.get('quantity')?.invalid && item.get('quantity')?.touched">

                  <div class="invalid-feedback d-block"
                    *ngIf="item.get('quantity')?.invalid && item.get('quantity')?.touched">
                    Quantity must be at least 1
                  </div>

                </div>

                <!-- REMOVE -->
                <div class="col-md-2 d-flex align-items-end">

                  <button type="button" class="btn remove-btn w-100" (click)="removeItem($index)"
                    [disabled]="items.length === 1">

                    <i class="fa fa-trash"></i>

                  </button>

                </div>

              </div>

            </div>

            }

          </div>

          <!-- ================= STATUS ================= -->
          <div class="status-box mt-4 mb-4">

            <div>
              <div class="fw-bold">Order Status</div>
              <small class="text-muted">Toggle completed or pending</small>
            </div>

            <div class="form-check form-switch m-0">

              <input class="form-check-input big-switch" type="checkbox" formControlName="status">

            </div>

          </div>

          <!-- ================= BUTTONS ================= -->
          <div class="d-flex gap-2 mt-4">

            <button type="button" class="btn cancel-btn w-50" data-bs-dismiss="modal">
              Cancel
            </button>

            <button type="button" class="btn save-btn w-50" (click)="addOrder()" [disabled]="orderForm.invalid">

              <i class="fa fa-check"></i>
              Create Order

            </button>

          </div>

        </form>

      </div>

    </div>

  </div>
</div>


<div class="modal fade" id="orderDetailsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="selectedOrder">

      <div class="modal-header d-flex justify-content-between">
        <h5>📄 Order Details</h5>

        <!-- customer -->
        <p>
          👤 <b>Customer:</b> {{ selectedOrder.customer.name }}
        </p>
      </div>

      <div class="modal-body">

        <!-- header -->
        <div class="d-flex justify-content-between mb-3">
          <div>
            <b>Order #{{ selectedOrder.id }}</b><br>
            <small>{{ selectedOrder.orderDate | date:'medium' }}</small>
          </div>

          <span class="badge d-flex justify-content-center align-items-center" [class.bg-success]="selectedOrder.status"
            [class.bg-warning]="!selectedOrder.status">
            {{ selectedOrder.status ? 'Done' : 'Pending' }}
          </span>
        </div>

        <hr>

        <!-- items -->
        <h6>Items</h6>

        <table class="table table-sm">
          <thead>
            <tr>
              <th>Product</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            @for (item of selectedOrder.items; track item.id) {
            <tr>
              <td>{{ item.product.name }} <span class="text-muted">( {{item.product.category}} )</span></td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unitPrice }}</td>
              <td>{{ item.total }}</td>
            </tr>
            }
          </tbody>
        </table>

        <hr>


        <div class="d-flex justify-content-end">

          <p>
            💰 <b>Total:</b> {{ selectedOrder.totalAmount }} EGP
          </p>
        </div>


      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="statusModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content status-modal border-0">

      <div class="modal-body p-4 text-center">

        <form *ngIf="selectedStatusOrder" [formGroup]="statusForm">

          <!-- icon -->
          <div class="status-icon" [class.done]="statusForm.get('status')?.value">

            <i class="fa" [class.fa-clock]="!statusForm.get('status')?.value"
              [class.fa-circle-check]="statusForm.get('status')?.value">
            </i>

          </div>

          <!-- title -->
          <h4 class="fw-bold mt-3">
            Update Order Status
          </h4>

          <p class="text-muted">
            Change current order state
          </p>

          <!-- info card -->
          <div class="status-card">

            <div class="d-flex justify-content-between mb-2">
              <span>Order</span>
              <b>#{{ selectedStatusOrder.id }}</b>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <span>Customer</span>
              <b>{{ selectedStatusOrder.customer.name }}</b>
            </div>

            <div class="d-flex justify-content-between">
              <span>Total</span>
              <b class="text-success">
                {{ selectedStatusOrder.totalAmount }} EGP
              </b>
            </div>

          </div>

          <!-- switch -->
          <div class="form-check form-switch d-flex justify-content-center mt-4">

            <input class="form-check-input big-switch" type="checkbox" formControlName="status">

          </div>

          <div class="mt-2 fw-bold">
            {{ statusForm.get('status')?.value ? 'Completed' : 'Pending' }}
          </div>

          <!-- buttons -->
          <div class="d-flex gap-2 mt-4">

            <button type="button" class="btn cancel-btn w-50" data-bs-dismiss="modal">

              Cancel

            </button>

            <button type="button" class="btn save-btn w-50" (click)="updateStatus()" [disabled]="statusForm.invalid">

              Save

            </button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>


<div class="modal fade" id="deleteOrderModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content delete-modal border-0">

      <div class="modal-body text-center p-4" *ngIf="deleteOrderRef">

        <!-- icon -->
        <div class="delete-icon">
          <i class="fa fa-trash"></i>
        </div>

        <!-- title -->
        <h4 class="fw-bold mt-3">
          Delete Order?
        </h4>

        <p class="text-muted mb-4">
          This action cannot be undone
        </p>

        <!-- order card -->
        <div class="delete-card">

          <div class="d-flex justify-content-between mb-2">
            <span class="text-muted">Order</span>
            <b>#{{ deleteOrderRef.id }}</b>
          </div>

          <div class="d-flex justify-content-between mb-2">
            <span class="text-muted">Customer</span>
            <b>{{ deleteOrderRef.customer.name }}</b>
          </div>

          <div class="d-flex justify-content-between">
            <span class="text-muted">Total</span>
            <b class="text-success">
              {{ deleteOrderRef.totalAmount }} EGP
            </b>
          </div>

        </div>

        <!-- buttons -->
        <div class="d-flex gap-2 mt-4">

          <button class="btn cancel-btn w-50" data-bs-dismiss="modal">
            Cancel
          </button>

          <button class="btn delete-btn w-50" (click)="confirmDelete()">
            Delete
          </button>

        </div>

      </div>

    </div>
  </div>
</div>



<!-- toasts -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">

  <!-- DELETE -->
  <div class="toast-modern shadow-lg" *ngIf="showDeleteSuccess">

    <div class="toast-icon danger">
      <i class="fa fa-trash"></i>
    </div>

    <div class="toast-content">
      <div class="toast-title">Deleted</div>
      <div class="toast-message">Order deleted successfully</div>
    </div>

    <button class="toast-close" (click)="showDeleteSuccess = false">
      <i class="fa fa-xmark"></i>
    </button>

  </div>


  <!-- STATUS -->
  <div class="toast-modern shadow-lg" *ngIf="showStatusSuccess">

    <div class="toast-icon warning">
      <i class="fa fa-clock-rotate-left"></i>
    </div>

    <div class="toast-content">
      <div class="toast-title">Updated</div>
      <div class="toast-message">Order status updated</div>
    </div>

    <button class="toast-close" (click)="showStatusSuccess = false">
      <i class="fa fa-xmark"></i>
    </button>

  </div>


  <!-- ADD -->
  <div class="toast-modern shadow-lg success" *ngIf="showAddSuccess">

    <div class="toast-icon success">
      <i class="fa fa-circle-check"></i>
    </div>

    <div class="toast-content">
      <div class="toast-title">Created</div>
      <div class="toast-message">Order created successfully</div>
    </div>

    <button class="toast-close" (click)="showAddSuccess = false">
      <i class="fa fa-xmark"></i>
    </button>

  </div>

</div>
