<div class="cart-page">

  <!-- HEADER -->
  <div class="cart-header">

    <div>
      <h2>
        <i class="fa-solid fa-cart-shopping me-2"></i>
        Cart
      </h2>

      <p class="text-secondary mb-0">
        Review your selected products before checkout
      </p>
    </div>

    @if(errorMessage){

    <div class="custom-alert danger-alert">

      <i class="fa-solid fa-circle-exclamation"></i>

      <span>{{ errorMessage }}</span>

    </div>

    }

    @if(successMessage){

    <div class="custom-alert success-alert">

      <i class="fa-solid fa-circle-check"></i>

      <span>{{ successMessage }}</span>

    </div>

    }

    <!-- CUSTOMER -->
    <select class="form-select customer-select" [(ngModel)]="selectedCustomerId">

      <option [value]="0">
        Select Customer
      </option>

      @for(c of customers; track c.id){
      <option [value]="c.id">
        {{ c.name }}
      </option>
      }

    </select>

  </div>

  <!-- CART CONTENT -->
  <div class="cart-grid">

    @for(item of cartItems; track item.productId){

    <div class="cart-card">

      <div class="cart-info">

        <div class="product-name">
          {{ item.productName }}
        </div>

        <div class="product-price">
          ${{ item.price }}
        </div>

      </div>

      <div class="cart-actions">

        <!-- QTY -->
        <div class="qty-box">

          <button class="qty-btn" (click)="decrease(item)">
            -
          </button>

          <span>{{ item.quantity }}</span>

          <button class="qty-btn" (click)="increase(item)" [disabled]="item.quantity >= item.stock">
            +
          </button>

        </div>

        <!-- TOTAL -->
        <div class="total">
          ${{ item.price * item.quantity }}
        </div>

        <div class="product-price">
          ${{ item.price }}
        </div>

        <div class="product-stock">
          Stock: {{ item.stock }}
        </div>

        <!-- DELETE -->
        <button class="delete-btn" (click)="removeItem(item.productId)">
          <i class="fa fa-trash"></i>
        </button>

      </div>

    </div>

    }

  </div>

  <!-- SUMMARY -->
  <div class="cart-summary">

    <div class="summary-box">

      <div class="row">
        <span>Subtotal</span>
        <strong>${{ subTotal }}</strong>
      </div>

      <div class="row">
        <span>Discount</span>
        <strong>${{ discount }}</strong>
      </div>

      <div class="row total">
        <span>Total</span>
        <strong>${{ total }}</strong>
      </div>

    </div>

    <div class="actions">

      <a routerLink="/products">
        <button class="btn btn-outline-light">
          Continue Shopping
        </button>
      </a>

      <button class="btn btn-primary ms-2" (click)="createOrder()" [disabled]="cartItems.length === 0">
        Create Order
      </button>

    </div>

  </div>

</div>
