<div class="cart-page">

  <!-- HEADER -->
  <div class="cart-header">

    <div>
      <h2>
        <i class="fa-solid fa-cart-shopping me-2"></i>
        Cart
      </h2>

      <p class="text-secondary mb-0">
        Review your selected products before checkout
      </p>
    </div>

    <!-- @if(errorMessage){

    <div class="custom-alert danger-alert">

      <i class="fa-solid fa-circle-exclamation"></i>

      <span>{{ errorMessage }}</span>

    </div>

    }

    @if(successMessage){

    <div class="custom-alert success-alert">

      <i class="fa-solid fa-circle-check"></i>

      <span>{{ successMessage }}</span>

    </div>

    } -->

    <!-- CUSTOMER -->
    <select class="form-select customer-select" [(ngModel)]="selectedCustomerId">

      <option [value]="0">
        Select Customer
      </option>

      @for(c of customers; track c.id){
      <option [value]="c.id">
        {{ c.name }}
      </option>
      }

    </select>

  </div>

  <!-- CART CONTENT -->
  <div class="cart-grid">

    @for(item of cartItems; track item.productId){

    <div class="cart-card">

      <!-- PRODUCT IMAGE -->
      <div class="product-image">
        <img [src]="item.mainImage ? apiUrl + item.mainImage : defaultImage" [alt]="item.productName">
      </div>

      <!-- PRODUCT INFO -->
      <div class="cart-info">

        <div class="product-name">
          {{ item.productName }}
        </div>

        <div class="product-price">
          {{ item.price }} EGP
        </div>

        <div class="product-stock">
          Stock : {{ item.stock }}
        </div>

      </div>

      <!-- ACTIONS -->
      <div class="cart-actions">

        <!-- QTY -->
        <div class="qty-box">

          <button class="qty-btn" (click)="decrease(item)">
            -
          </button>

          <span>{{ item.quantity }}</span>

          <button class="qty-btn" (click)="increase(item)" [disabled]="item.quantity >= item.stock">
            +
          </button>

        </div>

        <!-- TOTAL -->
        <div class="total">
          {{ item.price * item.quantity }} EGP
        </div>

        <!-- DELETE -->
        <button class="delete-btn" (click)="removeItem(item.productId)">

          <i class="fa fa-trash"></i>

        </button>

      </div>

    </div>

    }

  </div>


  <div class="cart-summary">

    <div class="summary-card">

      <div class="row g-4">

        <!-- LEFT -->
        <div class="col-lg-5">

          <h5 class="section-title">
            <i class="fa-solid fa-file-invoice-dollar me-2"></i>
            Order Summary
          </h5>

          <div class="summary-row">
            <span>Subtotal</span>
            <strong>{{subTotal}} EGP</strong>
          </div>

          <div class="summary-row">
            <span>Discount</span>
            <strong>{{discount}} EGP</strong>
          </div>

          <div class="summary-row total">
            <span>Total</span>
            <strong>{{total}} EGP</strong>
          </div>

        </div>

        <!-- RIGHT -->
        <div class="col-lg-7">

          <h5 class="section-title">
            <i class="fa-solid fa-credit-card me-2"></i>
            Payment Method
          </h5>

          <label class="payment-card">

            <input type="radio" name="payment" value="cash" [(ngModel)]="paymentMethod">

            <div class="payment-content">

              <i class="fa-solid fa-money-bill-wave payment-icon"></i>

              <div>

                <h6>Cash On Delivery</h6>

                <small>Pay after receiving your order.</small>

              </div>

            </div>

          </label>

          <label class="payment-card">

            <input type="radio" name="payment" value="card" [(ngModel)]="paymentMethod">

            <div class="payment-content">

              <i class="fa-solid fa-credit-card payment-icon"></i>

              <div>

                <h6>Credit / Debit Card</h6>

                <small>Visa • MasterCard</small>

              </div>

            </div>

          </label>

          <label class="payment-card">

            <input type="radio" name="payment" value="wallet" [(ngModel)]="paymentMethod">

            <div class="payment-content">

              <i class="fa-solid fa-wallet payment-icon"></i>

              <div>

                <h6>Wallet</h6>

                <small>Vodafone Cash • Instapay</small>

              </div>

            </div>

          </label>

        </div>

      </div>

      <hr>

      <div class="checkout-actions">

        <a routerLink="/products" class="flex-fill">

          <button class="btn btn-outline-light w-100">

            <i class="fa-solid fa-arrow-left me-2"></i>

            Continue Shopping

          </button>

        </a>

        <button class="btn btn-primary flex-fill" (click)="createOrder()" [disabled]="cartItems.length==0">

          <i class="fa-solid fa-bag-shopping me-2"></i>

          Create Order

        </button>

      </div>

    </div>

  </div>

















  <!-- TOASTS -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">

    <!-- ERROR -->
    <div class="toast-modern shadow-lg danger" *ngIf="errorMessage">

      <div class="toast-icon danger">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>

      <div class="toast-content">
        <div class="toast-title">
          Error
        </div>

        <div class="toast-message">
          {{ errorMessage }}
        </div>
      </div>

      <button class="toast-close" (click)="errorMessage=''">
        <i class="fa-solid fa-xmark"></i>
      </button>

    </div>

    <!-- SUCCESS -->
    <div class="toast-modern shadow-lg success" *ngIf="successMessage">

      <div class="toast-icon success">
        <i class="fa-solid fa-circle-check"></i>
      </div>

      <div class="toast-content">
        <div class="toast-title">
          Success
        </div>

        <div class="toast-message">
          {{ successMessage }}
        </div>
      </div>

      <button class="toast-close" (click)="successMessage=''">
        <i class="fa-solid fa-xmark"></i>
      </button>

    </div>

  </div>
</div>
