<div class="container mt-4">

  <div class="page-header d-flex justify-content-between align-items-center mb-4">

    <h2 class="text-secondary fw-bold">
      <i class="fa fa-building me-2"></i>
      Departments Dashboard
    </h2>

    <button class="btn btn-dark rounded-pill px-4" data-bs-toggle="modal" data-bs-target="#addModal">

      <i class="fa fa-plus me-2"></i>
      Add Department

    </button>

  </div>

  <!-- Search -->

  <div class="search-box mb-4">

    <input type="text" class="form-control search-input" placeholder="Search departments..." [(ngModel)]="search"
      (input)="onSearch()">

  </div>

  <!-- Cards -->

  <div class="row g-4">

    @for(dep of departments; track dep.id){

    <div class="col-md-6 col-lg-4">

      <div class="card department-card">

        <div class="department-cover">

          <i class="fa fa-building"></i>

        </div>

        <div class="card-body">

          <h5 class="fw-bold text-light">

            {{ dep.name }}

          </h5>

          <div class="text-secondary">

            Department ID #{{ dep.id }}

          </div>

          <div class="student-badge mt-3">

            <i class="fa fa-users me-2"></i>

            {{ dep.studentsCount }}

            Students

          </div>

        </div>

        <div class="card-footer card-footer-dark d-flex justify-content-between">

          <button class="btn btn-icon btn-edit" data-bs-toggle="modal" data-bs-target="#editModal"
            (click)="openEdit(dep)">

            <i class="fa fa-pen"></i>

          </button>

          <button class="btn btn-icon btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal"
            (click)="openDelete(dep)">

            <i class="fa fa-trash"></i>

          </button>

        </div>

      </div>

    </div>

    }

  </div>

  <!-- Loading -->

  @if(loading){

  <div class="loading-box">

    <div class="loading-spinner"></div>

    <p>Loading Departments...</p>

  </div>

  }

  <!-- Error -->

  @if(errorMessage){

  <div class="error-box">

    <div class="error-icon">

      <i class="fa fa-circle-exclamation"></i>

    </div>

    <div>

      <h5>Something went wrong</h5>

      <p>{{ errorMessage }}</p>

    </div>

  </div>

  }

  <!-- Empty -->

  @if(!loading && !errorMessage && departments.length === 0){

  <div class="empty-state">

    <div class="empty-icon">

      <i class="fa fa-building-circle-xmark"></i>

    </div>

    <h4>No Departments Found</h4>

    <p>Try another search</p>

  </div>

  }

  <!-- Pagination -->
  <div class="pagination-modern mt-5">

    <button class="page-btn" [disabled]="pageNumber === 1" (click)="changePage(pageNumber - 1)">

      <i class="fa fa-chevron-left"></i>

    </button>

    <div class="page-info">

      <div class="page-text">
        Page <b>{{ pageNumber }}</b> of <b>{{ totalPages }}</b>
      </div>

    </div>

    <button class="page-btn" [disabled]="pageNumber >= totalPages" (click)="changePage(pageNumber + 1)">

      <i class="fa fa-chevron-right"></i>

    </button>

  </div>

</div>


<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content add-department-modal border-0">

      <div class="modal-header modal-header-custom border-0">

        <div>
          <h4 class="fw-bold mb-1">
            <i class="fa fa-building-circle-check me-2"></i>
            Add Department
          </h4>

          <small class="text-secondary">
            Create a new department
          </small>
        </div>

        <button class="btn-close btn-close-white" data-bs-dismiss="modal">
        </button>

      </div>

      <div class="modal-body p-4">

        <form [formGroup]="addForm">

          <label class="form-label fw-semibold">

            Department Name

          </label>

          <div class="input-group">

            <span class="input-group-text">

              <i class="fa fa-building"></i>

            </span>

            <input class="form-control modern-input" placeholder="Enter department name" formControlName="name">

          </div>

          <small class="text-danger" *ngIf="addForm.get('name')?.invalid &&
                   addForm.get('name')?.touched">

            Department name must be at least 3 characters

          </small>

        </form>

      </div>

      <div class="modal-footer border-0 p-4 pt-0">

        <button class="btn btn-outline-light w-50" data-bs-dismiss="modal">

          Cancel

        </button>

        <button class="btn save-btn w-50" [disabled]="addForm.invalid" (click)="addDepartment()">

          <i class="fa fa-plus me-2"></i>
          Save Department

        </button>

      </div>

    </div>

  </div>
</div>

<div class="modal fade" id="editModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content add-department-modal border-0">

      <div class="modal-header modal-header-custom border-0">

        <div>

          <h4 class="fw-bold mb-1">

            <i class="fa fa-pen-to-square me-2"></i>

            Edit Department

          </h4>

          <small class="text-secondary">

            Update department information

          </small>

        </div>

        <button class="btn-close btn-close-white" data-bs-dismiss="modal">
        </button>

      </div>

      <div class="modal-body p-4">

        <form [formGroup]="editForm">

          <label class="form-label fw-semibold">

            Department Name

          </label>

          <div class="input-group">

            <span class="input-group-text">

              <i class="fa fa-building"></i>

            </span>

            <input class="form-control modern-input" formControlName="name">

          </div>

          <small class="text-danger" *ngIf="editForm.get('name')?.invalid &&
                   editForm.get('name')?.touched">

            Department name must be at least 3 characters

          </small>

        </form>

      </div>

      <div class="modal-footer border-0 p-4 pt-0">

        <button class="btn btn-outline-light w-50" data-bs-dismiss="modal">

          Cancel

        </button>

        <button class="btn update-btn w-50" [disabled]="editForm.invalid" (click)="updateDepartment()">

          <i class="fa fa-floppy-disk me-2"></i>

          Update Department

        </button>

      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="deleteModal">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content delete-modal border-0">

      <div class="modal-body p-4 text-center" *ngIf="deleteDepartment">

        <div class="delete-icon-circle mb-4">

          <i class="fa fa-trash"></i>

        </div>

        <h3 class="fw-bold mb-2">

          Delete Department?

        </h3>

        <p class="text-secondary mb-0">

          This action cannot be undone

        </p>

        <div class="delete-product-card rounded-4 p-3 mt-4 text-start">

          <div class="d-flex align-items-center gap-3">

            <div class="department-preview-icon">

              <i class="fa fa-building"></i>

            </div>

            <div>

              <h6 class="fw-bold mb-1 text-light">

                {{ deleteDepartment.name }}

              </h6>

              <small class="text-secondary">

                {{ deleteDepartment.studentsCount }}
                Students

              </small>

            </div>

          </div>

        </div>

        @if(deleteErrorMessage){

        <div class="delete-error-box mt-4">

          <div class="error-icon">

            <i class="fa fa-circle-exclamation"></i>

          </div>

          <div>

            <div class="fw-bold">

              Unable To Delete

            </div>

            <small>

              {{ deleteErrorMessage }}

            </small>

          </div>

        </div>

        }

        <div class="d-flex gap-2 mt-4">

          <button class="btn cancel-delete-btn w-50" data-bs-dismiss="modal">

            Cancel

          </button>

          <button class="btn delete-btn w-50" (click)="confirmDelete()" [disabled]="isDeleting">

            @if(isDeleting){

            <span class="spinner-border spinner-border-sm me-2">
            </span>

            Deleting...

            } @else {

            <i class="fa fa-trash me-2"></i>
            Delete

            }

          </button>

        </div>

      </div>

    </div>

  </div>

</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">

  <!-- ADD -->

  <div class="toast-modern shadow-lg success" *ngIf="showAddSuccess">

    <div class="toast-icon success">

      <i class="fa fa-circle-check"></i>

    </div>

    <div class="toast-content">

      <div class="toast-title">

        Created

      </div>

      <div class="toast-message">

        Department created successfully

      </div>

    </div>

    <button class="toast-close" (click)="showAddSuccess=false">

      <i class="fa fa-xmark"></i>

    </button>

  </div>

  <!-- UPDATE -->

  <div class="toast-modern shadow-lg warning" *ngIf="showUpdateSuccess">

    <div class="toast-icon warning">

      <i class="fa fa-pen"></i>

    </div>

    <div class="toast-content">

      <div class="toast-title">

        Updated

      </div>

      <div class="toast-message">

        Department updated successfully

      </div>

    </div>

    <button class="toast-close" (click)="showUpdateSuccess=false">

      <i class="fa fa-xmark"></i>

    </button>

  </div>

  <!-- DELETE -->

  <div class="toast-modern shadow-lg danger" *ngIf="showDeleteSuccess">

    <div class="toast-icon danger">

      <i class="fa fa-trash"></i>

    </div>

    <div class="toast-content">

      <div class="toast-title">

        Deleted

      </div>

      <div class="toast-message">

        Department deleted successfully

      </div>

    </div>

    <button class="toast-close" (click)="showDeleteSuccess=false">

      <i class="fa fa-xmark"></i>

    </button>

  </div>

</div>
